.Landing {
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
}

.Landing h1 {
    text-align: center;
    color: gainsboro;
    margin: 20px auto;
    width: 30%;
    position: relative;
    top: 20px;
    padding: 10px;
    text-shadow: 1px 1px 15px black;
    opacity: 0;
    animation: fadein 1s ease;
    animation-fill-mode: forwards;
}

.Content {
    background-color: rgba(0,0,0,0.7);
    height: 500px;
    width: 70%;
    margin: auto;
    text-align: center;
    color: gainsboro;
    opacity: 0;
    animation: fadein 1s ease;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}
