@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

.Resume {
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    font-family: 'Exo 2', sans-serif;
}

.Content {
    background-color: rgba(0,0,0,0.5);
    height: 600px;
    width: 475px;
    position: relative;
    top: 5%;
    margin: auto;
    text-align: center;
    animation: body .75s ease-in;
    animation-fill-mode: forwards;
    transform: translateY(600px);
}

@keyframes body {
    from {transform: translateY(600px)}
    to {transform: translateY(0px)}
}


.Content h1 {
    color: gainsboro;
    text-align: center;
    padding-top: 15px;
    animation: header 0.5s ease-in;
    opacity: 0;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    font-size: 20px;
}

@keyframes header {
    from {opacity: 0}
    to {opacity: 1}
}

.Content h1 span {
    color: #b3eda5;
}

.Content a {
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid #b3eda5;
    color: #b3eda5;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0 0 0;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    top: 20px;
    font-size: 12px;
}

.Content a:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.ResumeContainer {
    height: 81%;
    width: 80%;
    margin: auto;
    box-shadow: 0 0 15px #b3eda5;
    opacity: 0.7;
}

.ResumeContainer img {
    width: 100%;
    height: 100%;
}

@media (min-width: 1600px) {
    .Content {
        height: 840px;
        width: 665px;
        top: 7.5%;
    }
    .Content h1 {
        font-size: 28px;
        padding-top: 25px;
    }
    .Content a {
        font-size: 17px;
        padding: 7px 14px;
        top: 30px;
    }
}



