@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

.BackDrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    animation: fadein 0.5s ease-in;
    animation-fill-mode: forwards;
}

.Modal {
    width: 1000px;
    height: 400px;
    background-color: gainsboro;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -200px;
    display: flex;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    z-index: 201;
    animation: fadein 0.5s ease-in;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}

.X {
    position: absolute;
    top: -5px;
    right: 0px;
    font-family: sans-serif;
    cursor: pointer;
    color: grey;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.X:hover {
    color: black;
    transform: scale(1.3);
}

.Modal video {
    width: 70%;
    height: 100%;
    padding: 0;
    margin: 0;
    object-fit: fill;
}

.Modal div {
    width: 30%;
}

.Modal h2 {
    margin: 40% 0 0 0;
}

.Modal p {
    margin: 10px 0 0 0;
    padding: 5px 15px;
}

.Modal a {
    padding: 10px 15px;
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 5px 0 5px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    position: relative;
    top: 20px;
    display: inline-block;
}

.Modal a:hover {
    background-color: black;
    color: #b3eda5;
    border-color: black;
    transform: scaleX(25px);
}

@media (min-width: 1600px) {
    .Modal {
        transform: scale(1.4);
    }
}