@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

.NavItemDropdown button {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: #b3eda5;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    padding: 10px 16px;
    margin: 0;
    height: 100%;
}

.NavItemDropdown button:hover {
    background-color: gainsboro;
    color: black;
    border: none;
}

@media (min-width: 1600px) {
    .NavItemDropdown button {
        font-size: 18px;
        padding: 16px 24px;
    }
}

@media (max-width: 450px) {
    .NavItemDropdown button {
        width: 100vw;
        padding-right: 300px; 
    }

    .NavItemDropdown button:hover,
    .NavItemDropdown button:active {
        width: 100vw;
    }
}

